/* public/css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #0056b3;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

form {
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form a.button {
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.table {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.logout {
    display: flex;
    margin-left: 1210px;
}